{{template "base" .}}

{{define "title"}}
    Virtual Terminal
{{end}}

{{define "content"}}
<h2>Virtual Terminal</h2>
<hr/>
<p>Cardholder: {{index .Data "cardholder" }}</p>
{{end}}

{{define "js"}}

{{end}}